<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>All Users</h2>

<table th:border="1">
    <tr>
        <th th:width="200">Name</th>
        <th th:width="200">SurName</th>
        <th th:width="200">Age</th>
        <th th:width="200">Major</th>
        <th th:width="200">Operations</th>
    </tr>
    <tbody>

    <tr th:each="user : ${users}">
        <td th:align="center" th:text="${user.getName()}"></td>
        <td th:align="center" th:text="${user.getSurName()}"></td>
        <td th:align="center" th:text="${user.getAge()}"></td>
        <td th:align="center" th:text="${user.getMajor()}"></td>
        <td th:align="center">
            <form method="post" th:action="@{/updateInfo}">
                <input th:name="id" type="hidden" th:value="${user.getId()}">
                <input type="submit" value="update"/>
            </form>
            <br>
            <form method="post" th:action="@{/delInfo}">
                <input type="hidden" name="_method" value="delete"/>
                <input th:name="id" type="hidden" th:value="${user.getId()}">
                <input type="submit" value="delete"/>
            </form>
        </td>

    </tr>
    </tbody>
</table>
<br>

<input type="button" value="Add"
       onclick="window.location = 'add'"/>
</body>
</html>